
config cgminer 'default'
	option pool1url		'stratum+tcp://ss.antpool.com:3333'
	option pool1user	'microdoctor.001'
	option pool1pw		'123'
	option pool2url		'stratum+tcp://ss.antpool.com:443'
	option pool2user	'microdoctor.001'
	option pool2pw		'123'
	option pool3url		'stratum+tcp://ss.antpool.com:25'
	option pool3user	'microdoctor.001'
	option pool3pw		'123'
	option voltage_level_offset	'0'
	option fan_min		'10'
	option fan_max		'100'
	option api_allow	'W:127.0.0.1'
	option more_options	''
	option ntp_enable	'disable'

